input[type=text] {
  font-size: 1.2em;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: 1px solid grey;
}

input[type=text]:focus {
  box-shadow: 0 0 15px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}
