<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>Jeroen Berndsen: Introduction to AngularJS for .NET developers</title>

		<meta name="description" content="Presentation: Introduction to AngularJS for .NET developers">
		<meta name="author" content="Jeroen Berndsen">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">


		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/black.css" id="theme">
		<link rel="stylesheet" href="css/inputs.css">

		<!-- Code syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- angular -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular.min.js"></script>
		<script src="app.js"></script>

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>
		<div class="reveal">
			<div class="slides">

				<!-- INTRODUCTIE -->
				<section>
					<img src="img/angularjs.svg" style="border: 0; background: none; box-shadow: none" />
					<h3>The superheroic MVW Framework</h3>
					<p>
						<small>Presentation by <a href="http://jberndsen.nl">Jeroen Berndsen</a></small>
					</p>
				</section>

				<section data-background="img/jeroenberndsen.jpg">
					<div style="text-align: left; float: left; width: 50%;">
					<h2>Hello There!</h2>
				</div>
				</section>

				<section>
					<h2>Topics</h2>
						<ul>
							<li class="fragment roll-in">History of the web and ASP.NET</li>
							<li class="fragment roll-in">AngularJS</li>
							<li class="fragment roll-in">.NET integration</li>
							<li class="fragment roll-in">The future, today!</li>
						</ul>
					</section>

				<!-- GESCHIEDENIS -->
				<section>
					<section>
						<h2>A short history lesson</h2>
					</section>
					<section>
						<h2>Users request and consume static information (<strong>1990</strong>)</h2>
						<p class="orange">The world wide web is invented</p>
						<p class="fragment roll-in">Simple HTML, some CSS</p>
						<p class="fragment roll-in">JavaScript became standardized in 1996</p>
					</section>
					<section>
						<h2>Web 2.0: Users start producing information (<strong>2002</strong>)</h2>
						<p class="orange">ASP.NET introduced</p>
						<p class="fragment roll-in">User Controls</p>
						<p class="fragment roll-in">Code-behind files</p>
						<small class="fragment roll-in">remember page life cycles?</small>
					</section>
					<section>
							<h2>The iPhone: transition to mobile-first (<strong>2007</strong>)</h2>
							<p class="orange">.NET 3.0 introduced in late 2006</p>
							<p class="fragment roll-in">WPF, WCF, WWF, Windows Cardspace</p>
							<p class="fragment roll-in">.NET 3.5 late 2007, introducing LINQ and EF</p>
					</section>
					<section>
						<h2>Cloud based reactive systems and big data (<strong>2010 - now</strong>)</h2>
						<p class="orange">.NET 4.0 introduced in 2010</p>
						<p class="fragment roll-in">ASP.NET MVC</p>
						<p class="fragment roll-in">Parallel LINQ, Task Parallel Library</p>
						<p class="fragment roll-in">Cloud architecture patterns: CQRS, Event sourcing, etc.</p>
					</section>
				</section>

				<!-- ANGULAR INTRO -->
				<section>
					<section>
						<h2>What about front-end technologies?</h2>
						<p class="orange">HTML is intended for static documents</p><!-- it limits our expressiveness -->
						<p class="fragment roll-in">Current web apps are highly dynamic</p><!-- hardly adapted change -->
						<p class="fragment roll-in">Webdev = tricking the browser into doing what we really want?</p>
						<p class="fragment roll-in">DOM manipulation libraries (jQuery)</p><!-- to help with the missmatch between static/dynamic -->
					</section>
					<section>
						<h2>This is madness!</h2>
						<p class="orange">we are <strong>WAY</strong> too dependent on our web apps</p>
						<!-- mission critical for companies -->
						<!-- the very means of communication in our private lives -->
					</section>
					<section>
						<h2>And we know how to do better</h2>
						<p class="orange">Adapt design patterns and principles to front-end</p>
						<p class="fragment roll-in">Decouple the front-end and back-end</p><!-- parallel development and reuse -->
						<p class="fragment roll-in">Decouple presentation from app logic</p><!-- for testability -->
					</section>
					<section>
						<h2>AngularJS</h2>
						<p class="big">It brings quality</h1>
					</section>
					<section>
						<h2>AngularJS</h2>
						<p class="big">It's fast!</h1>
					</section>
					<section>
						<h2>AngularJS</h2>
						<p class="big">It's free!</h1>
					</section>
					<section>
						<h2>AngularJS</h2>
						<p class="orange">Return the things to where they belong</p>
						<p class="fragment roll-in">Use <span class="blue">HTML</span> to declaratively describe UI</p>
						<p class="fragment roll-in">Use <span class="blue">CSS</span> for styling and animation</p>
						<p class="fragment roll-in">Use <span class="blue">Javascript</span> to add behaviour</p>
					</section>
					<section>
						<h2>AngularJS</h2>
						<p class="orange">The superheroic MVW Javascript framework</p>
						<p class="fragment roll-in">Extend HTML with reusable components</p>
						<p class="fragment roll-in">Abstract from DOM manipulation</p>
						<p class="fragment roll-in">Separate presentation from behaviour</p>
						<p class="fragment roll-in">Testing as a first-class citizen</p>
					</section>
				</section>

				<!-- CODE DEEP DIVE: data binding, templating directives, validation, routing, reusable components, DI -->
				<section>
					<section>
						<h2>Model View Control (<a href="http://www.essenceandartifact.com/2012/12/the-essence-of-mvc.html">MVC</a>)</h2>
						<img src="img/mvc.png" style="border: 0; background: none; box-shadow: none" />
					</section>
					<section>
						<div id="databinding1">
							<h2>Data binding</h2>
							<p class="orange">Bind data to views</p>
							<p>Hello {{name}}!</p>
							<input type="text" ng-model="name">
						</div>
						<br />

						<pre><code data-trim>
&lt;div ng-app="app"&gt;
   &lt;h2&gt;Data binding&lt;/h2&gt;
   &lt;p&gt;Hello {{name}}!&lt;/p&gt;
   &lt;input type=&quot;text&quot; ng-model=&quot;name&quot;&gt;
&lt;/div&gt;
					</code></pre>
					</section>
					<script type="text/javascript">
					  var e = document.getElementById("databinding1");
						angular.element(e).ready(function() {
							angular.bootstrap(e, ['app']);
						});
					</script>

					<section>
							<div id="databinding2" ng-init="price=1;quantity=1;">
								<h2>Data binding</h2> <!-- templates / views / compiler -->
								<p class="orange">Templates, expressions, views, $compile</p>
								<input type="text" ng-model="price"><br />
								<input type="text" ng-model="quantity"><br />
								<b>Total: </b>{{price * quantity | currency}}
							</div>
							<br />

							<pre><code data-trim>
&lt;div ng-app="app" ng-init="price=1;quantity=1;"&gt;
  &lt;h2&gt;Data binding&lt;/h2&gt;
  &lt;input type=&quot;text&quot; ng-model=&quot;price&quot;&gt;&lt;br /&gt;
  &lt;input type=&quot;text&quot; ng-model=&quot;quantity&quot;&gt;&lt;br /&gt;
  &lt;b&gt;Total: &lt;/b&gt;{{price * quantity | currency}}
&lt;/div&gt;
							</code></pre>
					</section>
					<script type="text/javascript">
						var e2 = document.getElementById("databinding2");
						angular.element(e2).ready(function() {
							angular.bootstrap(e2, ['app']);
						});
					</script>

					<section>
						<h2>Data binding</h2>
						<img src="img/concepts-databinding1.png" style="border: 0; background: none; box-shadow: none" />
						<br />
						<i class="smaller">Image courtesy of the AngularJS team</i>
					</section>

					<section>
						<h2>Controllers</h2>
						<p class="orange">Add logic to views</p>
						<div id="controllers1">
							<div ng-controller="TodoController">
								<i>{{remaining()}} of {{todos.length}} remaining</i>
									<div ng-repeat="todo in todos">
										<input type="checkbox" ng-model="todo.done">
										<span class="done-{{todo.done}}">{{todo.text}}</span>
									</div>
								<form ng-submit="addTodo()">
									<input type="text" ng-model="todoText"  size="15">
									<input type="submit" value="add">
								</form>
							</div
						</div>
					</section>
					<script type="text/javascript">
						var e3 = document.getElementById("controllers1");
						angular.element(e3).ready(function() {
							angular.bootstrap(e3, ['app']);
						});
					</script>

					<section>
						<h2>Controllers</h2>
						<p class="orange">todo.js</p>
						<pre><code data-trim class="stretch">
var app = angular.module("app", []);
app.controller('TodoController', function ($scope) {
  $scope.todos = [
    {text:'learn angular', done:true},
    {text:'build an angular app', done:false}];

  $scope.addTodo = function() {
    $scope.todos.push({text:$scope.todoText, done:false});
    $scope.todoText = '';
  };

  $scope.remaining = function() {
    var count = 0;
      angular.forEach($scope.todos, function(todo) {
      count += todo.done ? 0 : 1;
    });
    return count;
  };
});
						</code></pre>
					</section>

					<section>
						<h2>Controllers</h2>
						<p class="orange">index.html</p>
						<pre><code data-trim>
&lt;div ng-controller="TodoController"&gt;
  &lt;i&gt;{{remaining()}} of {{todos.length}} remaining&lt;/i&gt;&lt;br /&gt;
    &lt;div ng-repeat="todo in todos"&gt;
      &lt;input type="checkbox" ng-model="todo.done"&gt;
      &lt;span class="done-{{todo.done}}"&gt;{{todo.text}}&lt;/span&gt;
    &lt;/div&gt;
  &lt;form ng-submit="addTodo()"&gt;
    &lt;input type="text" ng-model="todoText"  size="15"&gt;
    &lt;input type="submit" value="add"&gt;
  &lt;/form&gt;
&lt;/div&gt;
						</code></pre>
					</section>

					<section>
						<h2>Controllers</h2>
						<img src="img/concepts-databinding2.png" style="border: 0; background: none; box-shadow: none" />
						<br /><i class="smaller">Image courtesy of the AngularJS team</i>
					</section>

					<section>
						<h2>Services</h2>
						<p class="orange">Move view independent business logic to reusable modules</p>
						<div id="services1">
							<div ng-controller="InvoiceController as invoice">
								<div>
									Quantity: <input type="number" min="0" ng-model="invoice.qty">
								</div>
								<div>
									Costs: <input type="number" min="0" ng-model="invoice.cost">
									<select ng-model="invoice.inCurr">
										<option ng-repeat="c in invoice.currencies">{{c}}</option>
									</select>
								</div>
								<div>
									<b>Total:</b><br />
									<span ng-repeat="c in invoice.currencies">
										{{invoice.total(c) | currency:c}}<br />
									</span>
								</div>
							</div>
						</div>
					</section>
					<script type="text/javascript">
						var e4 = document.getElementById("services1");
						angular.element(e4).ready(function() {
							angular.bootstrap(e4, ['app']);
						});
					</script>

					<section>
						<h2>Services</h2>
						<p class="orange">index.html</p>
						<pre><code data-trim class="stretch">
&lt;div ng-controller="InvoiceController as invoice"&gt;
  &lt;div&gt;
    Quantity: &lt;input type="number" min="0" ng-model="invoice.qty"&gt;
  &lt;/div&gt;
  &lt;div&gt;
    Costs: &lt;input type="number" min="0" ng-model="invoice.cost"&gt;
    &lt;select ng-model="invoice.inCurr"&gt;
      &lt;option ng-repeat="c in invoice.currencies"&gt;{{c}}&lt;/option&gt;
    &lt;/select&gt;
  &lt;/div&gt;
  &lt;div&gt;
    &lt;b&gt;Total:&lt;/b&gt;&lt;br /&gt;
    &lt;span ng-repeat="c in invoice.currencies"&gt;
      {{invoice.total(c) | currency:c}}&lt;br /&gt;
    &lt;/span&gt;
  &lt;/div&gt;
&lt;/div&gt;
						</code></pre>
					</section>

					<section>
						<h2>Services</h2>
						<p class="orange">controllers.js</p>
						<pre><code data-trim>
app.controller('InvoiceController', function(currencyConverter) {
  this.qty = 1;
  this.cost = 2;
  this.inCurr = 'EUR';
  this.currencies = currencyConverter.currencies;

  this.total = function total(outCurr) {
    return currencyConverter.convert(this.qty * this.cost,
		   this.inCurr, outCurr);
  };
});
						</code></pre>
					</section>

					<section>
						<h2>Services</h2>
						<p class="orange">finance.js</p>
						<pre><code data-trim class="stretch">
angular.module('finance', []).factory('currencyConverter',
  function() {

  var currencies = ['USD', 'EUR', 'CNY'];
  var usdToForeignRates = {
    USD: 1,
    EUR: 0.74,
    CNY: 6.09
  };
  var convert = function (amount, inCurr, outCurr) {
    return amount * (usdToForeignRates[outCurr] /
		    usdToForeignRates[inCurr]);
  };

  return {
    currencies: currencies,
    convert: convert
  };
});
						</code></pre>
					</section>

					<section>
						<img src="img/concepts-module-service.png" style="border: 0; background: none; box-shadow: none" />
						<br /><i class="smaller">Image courtesy of the AngularJS team</i>
					</section>

					<section>
						<h2>Wiring up a back-end</h2>
						<p class="orange">Super simple with $http</p>
						<pre><code data-trim class="stretch">
angular.module('finance', [])
  .factory('ibanService', function ($http, apiUrl) {

  // return a promise because the http request will take a while
  function convertBban (request) {
    var promise = $http.post(apiUrl + '/Iban/ConvertIban', request)
      .then(function(response) {
        return response.data;
      });

    return promise;
  };

  // return the actual service
  return {
    convertBban: convertBban;
  };
});
						</code></pre>
					</section>

					<section>
						<h2>Custom directives</h2>
						<p class="orange">Build your own reusable components!</p>
						<pre><code data-trim>
angular.module('app')
  .directive('myCustomer', function () {
    return {
      restrict: 'E',
      templateUrl: 'myCustomer.html'
    }
  });
						</code></pre>

						<pre><code data-trim>
&lt;fieldset&gt;
  &lt;legend&gt;Personal details&lt;/legend&gt;
  &lt;label&gt;First name&lt;/label&gt; {{customer.firstName}}
  &lt;label&gt;Last name&lt;/label&gt; {{customer.lastName}}
&lt;/fieldset&gt;
						</code></pre>
					</section>

					<section>
						<h2>Custom directives</h2>
						<pre><code data-trim>
angular.module('app')
  .controller('SomeController', function($scope) {
    $scope.customer = {
      firstName: "Jeroen",
      lastName: "Berndsen"
    };
  });
						</code></pre>

						<pre><code data-trim>
&lt;div ng-controller=“SomeController”&gt;
  &lt;my-customer&gt;
&lt;/div&gt;
						</code></pre>
					</section>

					<section>
						<h2>Routing</h2>
						<p class="orange">Build full-fledged SPAs!</p>
						<pre><code data-trim class="stretch">
angular.module('app', [])
  .config(function ($routeProvider) {
    $routeProvider
      .when('/home',  { templateUrl: 'home.html',
                        controller: 'HomeController' })
      .when('/about', { templateUrl: 'about.html',
                        controller: 'AboutController' })
      .otherwise( redirectTo: '/home' );
  });
						</code></pre>
					</section>
				</section>

				<section>
					<section>
						<h2>Eco-system and tooling</h2>
						<p class="orange">Angular has lots of friends!</p>
					</section>
					<section>
						<h2>The community</h2>
						<p class="orange">Quite possibly the best part of it all</p>
					</section>
					<section>
						<div style="width: 25%; float: right;">
							<img src="img/nodejs.png" style="border: 0; background: none; box-shadow: none; transform: rotate(90deg) scale(2,2);" />
						</div>
						<div style="width: 75%; float: left;"
						<h2>NodeJS</h2>
						<p class="orange">JavaScript runtime environment</p>
						<p class="fragment roll-in">Comes with the package manager NPM</p>
						<p class="fragment roll-in">Full integration with Visual Studio in vNext</p>
						<p class="fragment roll-in">Get it at <a href="www.nodejs.org">www.nodejs.org</a></p>
					</section>
					<section>
						<img src="img/grunt.png" style="border: 0; background: none; box-shadow: none; float: right; width: 25%" />
						<div style="width: 75%; float: left";>
							<h2>Grunt / Gulp</h2>
							<p class="orange">Because who likes doing mundane work?</p>
							<p class="fragment roll-in">The Javascript task runner</p>
							<p class="fragment roll-in">In one word: automation</p>
							<p class="fragment roll-in">Minification, compilation, unit testing, linting, etc.</p>
							<blockquote class="fragment roll-in">> npm install -g grunt</blockquote>
					</div>
					</section>
					<section>
						<div style="width: 25%; float: right;">
							<img src="img/yeoman.jpg" style="border: 0; background: none; box-shadow: none;" /><br />
							<img src="img/bower.png" style="border: 0; background: none; box-shadow: none;" />
						</div>
						<div style="width: 75%; float: left";>
							<h2>Yeoman and Bower</h2>
							<p class="orange">Scaffolding tool for modern web apps</p>
							<p class="fragment roll-in">Kickstart your project using generators</p>
							<p class="fragment roll-in">Scaffold boilerplate code, grunt tasks and bower dependencies</p>
							<p class="fragment roll-in">Use Bower for in-project dependencies</p>
							<blockquote class="fragment roll-in">> npm install -g yo</blockquote>
					</div>
					</section>
					<section>
						<img src="img/jasmine_vertical.svg" style="border: 0; background: none; box-shadow: none; width: 20%" />
						<img src="img/karma.png" style="border: 0; background: none; box-shadow: none; width: 20%;" />
						<h2>Jasmine, Karma and Protractor</h2>
						<p class="orange">Testing is important! You should do it!</p>
						<p class="fragment roll-in"><a href="http://jasmine.github.io/">Jasmine</a> is a behavior-driven test framework</p>
						<p class="fragment roll-in"><a href="http://karma-runner.github.io/0.12/index.html">Karma</a> automates running the test suites in all browsers</p>
						<p class="fragment roll-in"><a href="http://angular.github.io/protractor/#/">Protractor</a> offers full E2E testing for your angular apps</p>

					</section>
				</section>

				<section>
					<section>
						<h2>.NET integration</h2>
						<p class="orange">It's easy!</p>
						<blockquote>It is not the strongest or the most intelligent who will survive but those who can best manage change. --Charles Darwin</blockquote>
					</section>
					<section>
						<h2>Start small</h2>
						<p class="orange">Integrate in sections of your current project</p>
						<p class="fragment roll-in">Just add a reference to angular.min.js</p>
						<p class="fragment roll-in">Add client-side form validation</p>
						<p class="fragment roll-in">Smooth transitions, filtering, sorting, etc.</p>
						<p class="fragment roll-in">Client-side routing</p>
					</section>
					<section>
						<h2>Adapt</h2>
						<p class="orange">Wire up a back-end</p>
						<p class="fragment roll-in">1: Map the UI router to MVC routes</p>
						<p class="fragment roll-in">2: Migrate to REST using Web API</p>
					</section>
					<section>
						<h2>Embrace</h2>
						<p class="orange">Full separation between client and server</p>
						<p class="fragment roll-in">Component segegration (e.g. Authorization servers / microservices)</p>
						<p class="fragment roll-in">Decouple from IIS (OWIN is default in vNext)</p>
						<p class="fragment roll-in">Switch to cloud hosting on Azure (Worker roles)</p>
					</section>
					<section>
						<h2>Conquer</h2>
						<p class="orange">Scale out! You really rock now!</p>
						<p class="fragment roll-in">Reactive event-driven systems</p>
						<p class="fragment roll-in">High performance, high availability, high everything</p>
						<p class="fragment roll-in">Enterprise scale big data</p>
						<p class="fragment roll-in">Web Sockets (SignalR)</p>
					</section>
				</section>

				<section>
					<section>
						<h2>The future, today!</h2>
						<p class="orange">Let me <strong>inspire</strong> you</p>
					</section>
					<section>
						<h2>The Ionic Framework (1)</h2>
						<video class="stretch" controls src="img/ionic.mp4"></video>
					</section>
					<section>
						<h2>The Ionic Framework (2)</h2>
						<iframe class="stretch" src="http://player.vimeo.com/video/86064716?title=0" ></iframe>
					</section>
					<section>
						<h2>Material Design</h2>
						<video class="stretch" controls src="img/gmd-hd.mp4"></video>
					</section>
				</section>

				<section>
					<h2>Thank you!</h2>
					<p>Find this presentation at <a href="http://presentations.jberndsen.nl/introduction-angular-for-dotnet/">http://presentations.jberndsen.nl/introduction-angular-for-dotnet/</a></p>
				</section>
			</div>

		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.js"></script>
		<script>
			// Full list of configuration options available at:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				transition: 'slide', // none/fade/slide/convex/concave/zoom

				// Optional reveal.js plugins
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true },
					{ src: 'plugin/notes/notes.js', async: true }
				]
			});

		</script>

	</body>
</html>
